<%- partial ('navbar-user') %>
<div class="jumbotron" style="background-color: #2962FF; color: white; margin-bottom: 0px; padding-bottom: 2%;">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 3%;">
            <h2>Welcome to OpenFirebase</h2>
            <p>Your account has been successfully created!<br>
            Take a look at these resources to help you get started.</p>
            <ul class="list-inline" style="margin-top: 3%;">
                <li><a id="infobtn" class="btn btn-lg">Tutorials</a></li>
                <li><a id="infobtn" class="btn btn-lg">Quickstart</a></li>
                <li><a id="infobtn" class="btn btn-lg">Examples</a></li>
                <li><a id="infobtn" class="btn btn-lg">API Docs</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2" style="margin-top: 50px; margin-left: 30px;">
        <div class="panel panel-default" id="newapp" style="padding: 10px; background-color: #F5F5F5;">
            <div class="panel-body">
                <form role="form" id="createnewapp">
                    <div class="form-group" style="margin-top: 20px;">
                        <label>APP NAME</label>
                        <input class="form-control" id="appname" style="height: 40px;">
                    </div>
                    <div class="form-group">
                        <label>APP URL</label>
                        <input class="form-control" id="appurl" style="height: 40px;">
                    </div>
                    <button class="btn btn-primary btn-block" style="margin-top: 50px; height: 40px; background-color: #2962FF; color: white;">CREATE NEW APP</button>
                </form>
            </div>
        </div>
    </div>
    <% apps.forEach(function(app) { %>
        <div class="col-sm-2" style="margin-top: 50px; margin-left: 30px;">
                <div class="panel panel-default" id=<%= app.name %> style="padding: 10px; background-color: #F5F5F5; height: 306.111px;">
                        <div class="panel-body">
                            <div style="margin-top: 20px; text-align: center;">
                                <h1 ><%= app.name %></h2>
                                <br>
                                <h4><%= app.url %></h4>
                            </div>
                            <button class="btn btn-primary btn-block" style="margin-top: 97px; height: 40px; background-color: #2962FF; color: white;">Manage App</button>
                        </div>
                </div>
        </div>
    <% }); %>
</div>
<script>
$("#createnewapp").submit(function(e){
    e.preventDefault();
    var name = $("#appname").val();
    var url = $("#appurl").val();
    $.ajax({
        method: "POST",
        url: "/app/create",
        data: {
            name: name,
            url: url,
            data: {'test': 'test'}
        }
    }).done(function(msg){
        console.log(msg);

    });
    console.log("Finished");
    window.location.reload(true);
})
</script>
<%- partial ('footer.ejs') %>